body {

    background: rgb(32, 32, 32); 
    font-family: Helvetica Arial, sans-serif; 
    display: flow-root;

}

/* 

--------------------------- 
       MAIN HEADER 
--------------------------- 

*/

.title {
     
    width: fit-content; 
    margin: -1.3em auto .9em; 

    font-size: 35px;

    color: rgb(255, 0, 64);

    transition-duration: .5s;

}

.title:hover {

    color: rgb(182, 2, 182);

}

span.menu-button {

    color: rgb(255, 0, 64);
    cursor: pointer;

    font-size: 39px;

    transition-duration: .4s;

}

span.menu-button:hover {

    color: rgb(182, 2, 182);

    box-shadow: 
    0 0 5px 1px rgb(175, 0, 175),
    0 0 15px -1px rgba(175, 0, 175, .692),
    0 0 20px -1px rgba(121, 2, 121, 0.342);

}

/*

--------------------------- 
       MAIN CONTENTS 
---------------------------

*/

.projects li p {
    
    margin-top: 8px;
    font-size: 20px;
    text-align: center;

}

.projectCoverImg {

    border-radius: 10px;
    transition-duration: .4s;

}

.projectCoverImg:hover {

    box-shadow: inset 0px 0px 25px 24px rgba(0, 0, 0, 0.31),0px 0px 25px 1px rgba(171, 67, 255, 0.68);
    
}

.projectTitles {

    text-decoration: none;
    color: rgb(255, 0, 64);

    transition-duration: .5s;

}

.projectTitles:hover {

    color: rgb(182, 2, 182);

}

/*

--------------------------- 
         MAIN DIV 
---------------------------

*/

.projects {

    display: flex;
    flex-wrap: wrap;
    padding: 0px; margin: 0px;

}

.projects li {
    margin: 3px; margin: 5px;
    border-radius: 3px;
}