@keyframes backgroundGradient {

    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}

@keyframes textGradient {

    0% {
        background-position-x: 0%;
    }
    25% {
        background-position-x: 160%;
    }
    50% {
        background-position-x: 604%;
    }
    75% {
        background-position-x: 346%;
    }
    100% {
        background-position-x: 0%;
    }

}

@keyframes movingArrow {

    0% {
        translate: 1px;
    }
    50% {
        translate: 5px;
    }
    100% {
        translate: 1px;
    }

}

html, body {

    margin: 0;
    height: 100%;
    overflow: hidden;

    font-family: "Roboto", sans-serif;

}

header div {
    /* Background gradient */

    position: absolute;

    background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 50%, #21D4FD 100%);;
    background-size: 150% 150%;
    animation: backgroundGradient 18s ease infinite;

    height: 500vh;
    width: 500vw;

    box-sizing: border-box;

    z-index: -1;

}

:root {
    --buttonColor: #2979FF;
    --backgroundColor: #f6f6f6f9;
}

main {

    width: 40%;
    height: 50%;

    position: absolute;
    overflow: hidden;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 2em;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.675);
}

.covers {

    display: flex;
    position: absolute;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

}

.covers .cover {

    flex: 0 0 18%;
    height: 100%;

    background-image: linear-gradient(0deg, #522db8 0%, #1c7ce0 100%);
    transform-origin: bottom left;
    transition: all 875ms cubic-bezier(0.8, 0, 0.2, 1);

}

/*
-----------------------
       SIGN IN
-----------------------
*/

.signInContainer {

    position: absolute;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;

    border-radius: 2em;
    gap: 1%;

    background-color: var(--backgroundColor);

}

.signInContainer > #signInTitle {

    font-size: 160%;
    font-weight: bold;

    background-color: #21D4FD;
    background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
    background-size: 90% 90%;
    animation: textGradient 10s ease infinite;

    letter-spacing: -1px;

    background-clip: text;
   -webkit-text-fill-color: transparent;

}

.signInContainer form {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    margin-right: 13px;
    gap: 5px;

}

.signInContainer form label {
    font-size: 1.1em;
}

.signInContainer form input {

    width: 100%;
    padding: 5px;
    font-size: 1em;

    border-style: solid;
    border-width: 2px;
    border-radius: 3px;

    margin-bottom: 5%;

    background: rgba(255, 255, 255, 0.648);
    color: black;
    
    min-width: 0;

    transition-duration: .3s;

}

.signInContainer form input:focus {
    outline: none;
    border-color: var(--buttonColor);
}

.signInContainer form > #emailInput {
    /* Creates the gap between the email and password */
    margin-bottom: 15%;
}

.signInContainer form > #signInFormBtn {

    background-color: var(--buttonColor);
    color: rgba(255, 255, 255, 0.866);

    border-radius: 5px;
    border-color: var(--buttonColor);
    
    cursor: pointer;
    transition-duration: .2s;

    margin-top: 10%;
    font-weight: 500;
    width: 106%;

}

.signInContainer form > #signInFormBtn:hover{
    background-color: rgba(255, 255, 255, 0.866);
    color: var(--buttonColor);
}

.signInContainer > #signUpArrow {

    position: absolute;

    height: 10%;
    width: 10%;

    image-rendering: optimizeSpeed;

    top: 46%;
    left: 92%;
    transform: rotate(90deg);

    text-align: center;
    animation: movingArrow 5s ease-in-out infinite;

}

.signInContainer > #recoverAccArrow {

    position: absolute;

    height: 10%;
    width: 10%;

    image-rendering: optimizeSpeed;

    top: 46%;
    right: 92%;
    transform: rotate(-90deg);

    text-align: center;
    animation: movingArrow 5s ease-in-out infinite;

}

.signUpElements {

    position: absolute;
    display: flex;

    overflow: hidden;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(225deg, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    right: 0;
    word-wrap: break-word;

    transform: translateX(100%);
    transform-origin: center right;

    padding: 0 5px 0 5px;

    height: 100%;
    width: 25.5%;

    border-top-left-radius: .7em;
    border-bottom-left-radius: .7em;

    transition: transform 300ms cubic-bezier(0.8, 0, 0.2, 1), -webkit-transform 475ms cubic-bezier(0.8, 0, 0.2, 1);

}

.signUpElements p {
    color: rgba(245, 245, 245, 0.903);
    font-size: 1.2em;
    text-align: center;
}

.signUpElements button {

    border: none;
    border-radius: .4em;

    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: 1px;

    cursor: pointer;

    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;    
    -webkit-text-fill-color: transparent;
    
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

}

.signUpElements button:hover {
    background-position-x: 5.8em;
    box-shadow: 0 0 5px 2px rgb(70, 2, 142);
}

.signUpElements button, p {
    margin-right: 1px;
    margin-bottom: auto;
}

.recoverAccElements {

    position: absolute;
    display: flex;

    overflow: hidden;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(225deg, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    left: 0;
    word-wrap: break-word;

    transform: translateX(-100%);
    transform-origin: center left;

    padding: 0 5px 0 5px;

    height: 100%;
    width: 25.5%;

    border-top-right-radius: .7em;
    border-bottom-right-radius: .7em;

    transition: transform 300ms cubic-bezier(0.8, 0, 0.2, 1), -webkit-transform 475ms cubic-bezier(0.8, 0, 0.2, 1);

}

.recoverAccElements p {
    color: rgba(245, 245, 245, 0.903);
    font-size: 1.2em;
    text-align: center;
}

.recoverAccElements button {

    border: none;
    border-radius: .4em;

    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: 1px;

    cursor: pointer;

    background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;    
    -webkit-text-fill-color: transparent;
    
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

}

.recoverAccElements button:hover {
    background-position: 5.8em;
    box-shadow: 0 0 5px 2px rgb(70, 2, 142);
}

.recoverAccElements button, p {
    margin-bottom: auto;
}

.signInContainer > #signUpArrowHitbox {

    position: absolute;

    top: 0;
    right: 0;

    height: 100%;
    width: 13%;

}

.signInContainer > #recoverAccArrowHitbox {

    position: absolute;

    top: 0;
    left: 0;

    height: 100%;
    width: 13%;

}

/*
-----------------------
       SIGN UP
-----------------------
*/

.signUpContainer {

    position: absolute;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    border-radius: 2em;
    gap: 1%;

    background-color: var(--backgroundColor);

}

.signUpContainer > #signUpTitle {

    font-size: 160%;
    font-weight: bold;

    background-color: #21D4FD;
    background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
    background-size: 90% 90%;
    animation: textGradient 10s ease infinite;

    letter-spacing: -1px;

    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.signUpContainer form {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    margin-right: 13px;
    gap: 5px;


}

.signUpContainer form label {
    font-size: 1.1em;
}

.signUpContainer form input {

    width: 100%;
    padding: 5px;
    font-size: 1em;

    border-style: solid;
    border-width: 2px;
    border-radius: 3px;

    margin-bottom: 5%;

    background: rgba(255, 255, 255, 0.648);
    color: black;
    
    min-width: 0;

    transition-duration: .3s;

}

.signUpContainer form input:focus {
    outline: none;
    border-color: var(--buttonColor);
}

.signUpContainer form > #emailInput {
    /* Creates the gap between the email and password */
    margin-bottom: 15%;
}

.signUpContainer form > #signUpFormBtn {

    background-color: var(--buttonColor);
    color: rgba(255, 255, 255, 0.866);

    border-radius: 5px;
    border-color: var(--buttonColor);
    
    cursor: pointer;
    transition-duration: .2s;

    margin-top: 10%;
    font-weight: 500;
    width: 106%;

}

.signUpContainer form > #signUpFormBtn:hover{
    background-color: rgba(255, 255, 255, 0.866);
    color: var(--buttonColor);
}

.signUpContainer > #signInArrow {

    position: absolute;

    height: 10%;
    width: 10%;

    image-rendering: optimizeSpeed;

    top: 46%;
    right: 92%;
    transform: rotate(-90deg);

    text-align: center;
    animation: movingArrow 5s ease-in-out infinite;

}

.signInElements {

    position: absolute;
    display: flex;

    overflow: hidden;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(225deg, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    left: 0;
    word-wrap: break-word;

    transform: translateX(-100%);
    transform-origin: center left;

    padding: 0 5px 0 5px;

    height: 100%;
    width: 25.5%;

    border-top-right-radius: .7em;
    border-bottom-right-radius: .7em;

    transition: transform 300ms cubic-bezier(0.8, 0, 0.2, 1), -webkit-transform 475ms cubic-bezier(0.8, 0, 0.2, 1);

}

.signInElements p {
    color: rgba(245, 245, 245, 0.903);
    font-size: 1.2em;
    text-align: center;
}

.signInElements button {

    border: none;
    border-radius: .4em;

    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: 1px;

    cursor: pointer;

    background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;    
    -webkit-text-fill-color: transparent;
    
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

}

.signInElements button:hover{
    background-position: 5.8em;
    box-shadow: 0 0 5px 2px rgb(70, 2, 142);
}

.signInElements button, p {
    margin-right: 1px;
    margin-bottom: auto;
}

.signUpContainer > #signInArrowHitbox {

    display: flex;
    position: absolute;

    top: 0;
    left: 0;

    height: 100%;
    width: 13%;

}

/*
-----------------------
   ACCOUNT RECOVERY
-----------------------
*/

.recoverAccContainer {

    position: absolute;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    border-radius: 2em;
    gap: 1%;

    background-color: var(--backgroundColor);

}

.recoverAccContainer > #recoverAccTitle {

    font-size: 160%;
    font-weight: bold;

    background-color: #21D4FD;
    background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
    background-size: 90% 90%;
    animation: textGradient 10s ease infinite;

    letter-spacing: -1px;

    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.recoverAccContainer form {
    
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-bottom: 3%;

}

.recoverAccContainer form input {

    width: 100%;
    padding: 5px;
    font-size: 1em;

    margin-bottom: 5%;

    border-style: solid;
    border-width: 2px;
    border-radius: 3px;

    background: rgba(255, 255, 255, 0.648);
    color: black;
    
    min-width: 0;

    transition-duration: .3s;

}

.recoverAccContainer form input:focus {
    outline: none;
    border-color: var(--buttonColor);
}

.recoverAccContainer form > #recoverAccFormBtn {

    background-color: var(--buttonColor);
    color: rgba(255, 255, 255, 0.866);

    border-radius: 5px;
    border-color: var(--buttonColor);
    
    cursor: pointer;
    transition-duration: .2s;

    margin-top: 30%;
    font-weight: 500;
    width: 106%;

}

.recoverAccContainer form > #recoverAccFormBtn:hover {
    background-color: rgba(255, 255, 255, 0.866);
    color: var(--buttonColor);
}

.recoverAccContainer > #recovery-signInArrow {
    
    position: absolute;

    height: 10%;
    width: 10%;

    image-rendering: optimizeSpeed;

    top: 46%;
    left: 92%;
    transform: rotate(90deg);

    text-align: center;
    animation: movingArrow 5s ease-in-out infinite;

}

.recovery-signInElements {

    position: absolute;
    display: flex;

    overflow: hidden;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(225deg, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    right: 0;
    word-wrap: break-word;

    transform: translateX(100%);
    transform-origin: center right;

    padding: 0 5px 0 5px;

    height: 100%;
    width: 25.5%;

    border-top-left-radius: .7em;
    border-bottom-left-radius: .7em;

    transition: transform 300ms cubic-bezier(0.8, 0, 0.2, 1), -webkit-transform 475ms cubic-bezier(0.8, 0, 0.2, 1);

}

.recovery-signInElements p {
    
    color: rgba(245, 245, 245, 0.903);
    font-size: 1.2em;
    text-align: center;

}

.recovery-signInElements button {

    border: none;
    border-radius: .4em;

    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: 1px;

    cursor: pointer;

    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;    
    -webkit-text-fill-color: transparent;
    
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

}

.recovery-signInElements button:hover {
    background-position-x: 5.8em;
    box-shadow: 0 0 5px 2px rgb(70, 2, 142);
}

.recovery-signInElements button, p {
    margin-right: 1px;
    margin-bottom: auto;
}

.recoverAccContainer > #recovery-signInArrowHitbox {

    display: flex;
    position: absolute;

    top: 0;
    right: 0;

    height: 100%;
    width: 23%;

}