@font-face {
    font-family: Roboto;
    src: url("./materials/fonts/Roboto/Roboto-Regular.ttf");
}

body {
    font-family: Roboto;

    background: #b993d6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b993d6, #8ca6db); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b993d6, #8ca6db);
}

header > #title {
    text-align: center;
}

@keyframes blinkingShadowBox {
    0% {
        box-shadow: 0 0 5px black;
    }
    50% {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.398);
    }
    100%{
        box-shadow: 0 0 5px black;
    }
}

.passwordGen_container {
    position: fixed;

    background-color: rgba(0, 0, 0, 0.26);

    width: 50%;
    height: 50%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    
    border-radius: 1em;

    box-shadow: 0 0 10px black;
}

.passwordGen_container > #separator {
    position: fixed;

    width: 1px;
    height: 100%;

    top: 50%;
    left: 74.6%;
    transform: translate(-50%, -52.5%);

    border: none;
    background-color: rgba(0, 0, 0, 0.42);
}

.passwordGen_title {
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-80%, -195%);

    font-size: x-large;

    letter-spacing: 5px;

    background: linear-gradient(to right, #b993d6, #8ca6db);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.passwordGen_display {
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-88%, -200%);
}

.passwordGen_display input {
    font-size: 2.5em;
    text-align: center;

    width: 125%;

    border: none;
    border-radius: .2em;

    background-color: rgba(0, 0, 0, 0.218);

    color: rgb(255, 255, 255);
}

.passwordGen_display input:focus {
    outline: none;
}

.passwordGen_display > meter {
    position: fixed;

    top: 120%;
    left: 63%;
    transform: translate(-50%, -50%);

    width: 125%;
    height:50%;

    border: none;
}

.passwordGen_display > meter::-webkit-meter-bar {
    background-color: rgba(0, 0, 0, 0.218);
}

.passwordGen_display > meter::-webkit-meter-even-less-good-value {
    background-color: rgba(231, 22, 22, 0.813);

    transition-duration: .6s;
}

.passwordGen_display > meter::-webkit-meter-suboptimum-value {
    background-color: rgba(255, 152, 17, 0.896);

    transition-duration: .6s;
}

.passwordGen_display > meter::-webkit-meter-optimum-value {
    background-color: rgb(9, 157, 9);

    transition-duration: .6s;
}

.passwordGen_buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    
    padding-left: 10px;
    height: 99%;

    align-items: center;

    gap: 1.3em;
    left: 80%;
}

.passwordGen_buttons button {
    margin-top: 23%;

    font-size: larger;
    color: rgb(224, 224, 224);

    border: none;
    border-radius: 1em;

    background: inherit;

    box-shadow: 0 0 3px black;
    
    width: calc(100% + 3em);
    height: calc(0% + 3em);
    
    cursor: pointer;
}

.passwordGen_buttons button:hover {
    transition-duration: .3s;

    background: linear-gradient(to left, #c983ff, #83acff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.passwordGen_buttons a {
    text-decoration: none;

    margin-top: 80%;

    background: linear-gradient(to right, #b993d6, #8ca6db);

    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.passwordGen_buttons a:hover {
    background: linear-gradient(to left, #b993d6, #8ca6db);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.passwordGen_charSet {
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-69%, -50%);

    width: max-content;

    color: rgb(224, 224, 224);
}

.passwordGen_charSet input {
    width: 1.6em;
    height: 1.6em;

    margin-right: .5em;

    cursor: pointer;
}

.passwordGen_charSet label {
    vertical-align: top;
    
    font-size: 1.5em;

    margin-right: 1em;

    cursor: pointer;
}

.passwordGen_container > #errorMessage {
    position: fixed;

    top: 62%;
    left: 38%;
    transform: translate(-50%, -50%);

    font-size: large;

    color: rgb(224, 224, 224);
}

.passwordGen_length {
    display: flex;
    flex-direction: row;

    position: fixed;

    top: 88%;
    left: 38%;
    transform: translate(-50%, -50%);
}

.passwordGen_length > #passwordLength {
    width: 30em;

    cursor: pointer;
}

.passwordGen_length > #passwordLengthLabel {
    color: rgb(224, 224, 224);
    font-size: xx-large;

    margin-left: 1em;
}