:root {

    /* Light */
    --textLight: #0e1515;
    --backgroundLight: #f9fbfb;
    --primaryLight: #72a19e;
    --secondaryLight: #afbdca;
    --accentLight: #8b96b1;

    /* Dark */
    --textDark: #eaf1f1;
    --backgroundDark: #040606;
    --primaryDark: #5e8d8a;
    --secondaryDark: #354350;
    --accentDark: #4e5974;

}

body {

    background-color: var(--backgroundLight);

    font-family: Helvetica, Arial, sans-serif;
    color: var(--textLight);

    padding: 0;
    margin: 7px;
    
}

.sidebars {

    width: 20svw;
    height: 98svh;

    display: grid;
    flex-direction: column;

    overflow: hidden;

    gap: 7px;

}

.sidebars > * {

    background-color: var(--primaryLight);
    border-radius: 10px;

}

/*
    SIDEBAR MAIN
*/

.sidebarMain {

    height: 65svh;

}

.sidebarMain-account {

    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 5px solid var(--backgroundLight);
    height: 10%;

    padding-left: 10px;
    padding-right: 10px;

}

.sidebarMain-account > * {

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;

}

.accountImage > #accountImage-img {
    
    width: 28px;
    border-radius: 50%;
    
}

.accountName {

    font-size: larger;
    margin-left: 5%;
    height: 100%;

}

.accountSettings {

    margin-left: auto;

}

.sidebarMain-sets {

    height: 88%;

}

.setsHeader > p {

    margin: 0;
    padding-top: 5px;

    font-size: larger;
    font-weight: 600;
    text-align: center;

}

.setsContent {

    height: 91%;

    display: flex;
    flex-direction: column;
    align-items: start;

}

.setsContent > .set {

    width: 92%;
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;

    cursor: pointer;

}

.setsContent > .set:hover {

    background-color: var(--primaryDark);

}

.setIcon {

    font-size: x-large;

}

.setName {

    font-size: larger;
    margin-left: 5%;

}

.setMore {

    text-align: end;
    font-size: larger;

    width: 10%;
    margin-left: auto;

    cursor: pointer;
    border: solid black;

}



/*
    SIDEBAR EXTRAS
*/
.sidebarExtra {

    height: 31svh;

}