@font-face {
	font-family: Roboto;
	src: url(./materials/fonts/Roboto/Roboto-Regular.ttf);
}

body {
	font-family: Roboto;

	background-color: rgb(24, 24, 24);
	color: rgb(234, 234, 234);

	margin: 10px;
}

/*
-----------------------
	  NAV BAR
-----------------------
*/

.habitTracker_navBar {
	position: absolute;

	top: auto;
	left: auto;

	display: flex;
	flex-direction: column;

	width: 15%;
	height: max-content;

	border-radius: 1em;
	border: none;

	padding-bottom: 15px;
	padding-left: 10px;

	gap: 18px;
	background-color: rgb(234, 234, 234);
}

#pfp {
	border-radius: 100%;
}

.habitTracker_navBar h2 {
	color: #27a074;
}

.habitTracker_navBar p {
	margin: 0;
	margin-top: 20px;
	color: black;
}

.habitTracker_navBar img {
	width: 24px;
	height: 24px;

	margin-right: 10px;

	vertical-align: calc(100% - 115%);
}

.habitTracker_navBar a {
	text-decoration: none;
	font-size: 1.5em;

	color: black;
}

.habitTracker_navBar > #source {
	margin-top: 20%;
	font-size: small;
}

/*
-----------------------
	MAIN NAV BAR
-----------------------
*/

.habitTracker_mainNavBar {
	position: absolute;

	display: flex;
	flex-direction: row;

	top: auto;
	left: 17%;

	width: max-content;
	height: max-content;

	border: solid;
}