:root {

    --text: #08081a;
    --background: #f7f7fc;
    --primary: #504bc5;
    --secondary: #dd93c0;
    --accent: #d27384;

}

body {

    font-family: "Roboto", sans-serif;

    background-color: var(--background);
    color: var(--text);

}

#title {

    text-align: center;
    font-size: 3em;

    background: linear-gradient(to right, var(--primary) 0, var(--accent) 100%);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.todoList {

    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    align-items:baseline;
    justify-content: center;

    margin-top: 5%;
    gap: 5%;

    height: max-content;
    
}

.todo-title {

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .5em;
    
    width: 15em;
    height: 5em;

    text-align: center;

    background-color: var(--primary);
    color: var(--background);

    overflow: hidden;

}

.todo-title h1 {
    margin-left: 20px;
}

.todo-tasks {

    display: flex;
    flex-direction: column;
    align-items: start;

    border-radius: .3em;

    font-size: 1.1em;

    margin-top: 5%;
    margin-bottom: 10%;

    visibility: hidden;

    padding: 7px;
    gap: 5px;

    background-color: var(--secondary);

}

.todo-tasks input {

    width: 1.5em;
    height: 1.5em;

}

.todo-tasks label, input {

    cursor: pointer;
    text-align: start;
    color: var(--text);

}

.addTask{

    cursor: pointer;
    text-align: end;

    margin-left: auto;
    margin-right: 20px;

}

.addTask > .fa-plus {

    color: var(--background);
    font-size: 2.5em;

    transition-duration: .2s;

}

.addTask > .fa-plus:hover {

    transform: scale(1.1);
    color: #00FF8C;
}

.task {
    
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 12.8em;

    padding-top: 5px;
    padding-bottom: 5px;

    overflow: hidden;

    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    
}

.task > .taskLabel {max-width: 10em;}

.taskEditBtns > .taskEdit {

    cursor: pointer;
    text-align: end;

    margin-left: auto;
    margin-right: 3px;
    margin-top: 3px;

}

.taskEdit > .fa-pen-to-square, .cancelEdit > .fa-xmark, .taskDelete > .fa-trash-can {
    color: var(--text);
    transition-duration: .2s;
}

.taskEdit > .fa-pen-to-square:hover, .cancelEdit > .fa-xmark:hover, .taskDelete > .fa-trash-can:hover {
    color: var(--primary);
}

.taskEditBtns > .taskDelete {

    cursor: pointer;
    text-align: center;

    margin-right: 4px;
    margin-top: 3px;

}

.cancelEdit {

    cursor: pointer;
    text-align: end;

    margin-left: auto;
    margin-right: .7rem;
    margin-top: 4px;

}

.task > .modifyTask, .task > .taskEditBtns {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.task > .taskEditBtns {

    margin-left: auto;
    margin-right: 3px;
    gap: 10px;
    
}

.modifyTask svg {
    font-size: 1.2em;
}

.task > .taskLabel {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.taskLabel > .taskLabel > .taskText {
    
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.taskLabel > .taskInput {

    width: 1.7em;
    height: 1.7em;

    min-width: 1.7em;
    min-height: 1.7em;

}

.taskLabel > .taskEditInput {

    cursor: text;
    
    background-color: transparent;
    border-color: var(--text);
    border: solid;
    border-width: 0 0 2px 0;

    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: .9em;

    color: var(--text);
    width: 100%;

    transition-duration: .2s;

}

.taskLabel > .taskEditInput:focus {

    outline: none; 
    border-width: 2px 0 2px 0;
    border-radius: 4px;
    border-color: var(--primary);

}

.taskLabel > .taskText {
    overflow: hidden;
    padding-left: 5px;
    font-size: 1.2em;
}

.undoChanges {

    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: end;

    gap: 10px;

    width: max-content;
    height: 10rem;
    padding-bottom: 5px;

    position: sticky;

    bottom: 0;
    left: .5;

    overflow: hidden;

}

.undoChanges > .undo {

    width: max-content;
    height: 2em;

    border-style: solid;
    border-radius: .5em;

    padding-right: 5px;
    padding-left: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 5px;

    transform-origin: bottom left;

    transition-duration: .2s;

}

.undoChanges > .undo:hover {

    background-color: var(--primary);
    color: var(--background);
    border-color: var(--primary);

}

.undoChanges > .undo:hover > button {
    color: var(--secondary);
}

.undoChanges > .undo:hover > button:hover {
    color: var(--accent);
}

.undo button {

    margin-bottom: 4px;

    border: none;
    background: none;

    color: var(--primary);
    font-size: 1.1em;

    cursor: pointer;

    transition-duration: .2s;

}

.undo > .cancelUndo {

    cursor: pointer;
    text-align: end;

    margin-left: 20px;

    font-size: large;

    transition-duration: .2s;

}

.undo > .cancelUndo:hover {
    color: var(--accent);
}