:root {

    --text: #08081a;
    --background: #f7f7fc;
    --primary: #504bc5;
    --secondary: #dd93c0;
    --accent: #d27384;

}

body {

    font-family: "Roboto", sans-serif;

    background-color: var(--background);
    color: var(--text);

}

#title {

    text-align: center;
    font-size: 3em;

    background: linear-gradient(to right, var(--primary) 0, var(--accent) 100%);
    background-size: 90% 90%;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.todoList {

    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    align-items:baseline;
    justify-content: center;

    margin-top: 5%;
    gap: 5%;

    height: max-content;
    
}

.todo-title {

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .5em;
    
    width: 15em;
    height: 5em;

    text-align: center;

    background-color: var(--primary);
    color: var(--background);

    overflow: hidden;

}

.todo-title h1 {
    margin-left: 20px;
}

.todo-tasks {

    display: flex;
    flex-direction: column;
    align-items: start;

    border-radius: .3em;

    font-size: 1.4em;

    margin-top: 5%;
    margin-bottom: 10%;

    padding: 7px;
    gap: 5px;

    background-color: var(--secondary);

}

.todo-tasks input {

    width: 1.5em;
    height: 1.5em;

}

.todo-tasks label, input {

    cursor: pointer;
    text-align: start;
    color: var(--text);

}

.addTask{

    cursor: pointer;
    text-align: end;

    margin-left: auto;
    margin-right: 20px;

}

.addTask > .fa-plus {

    color: var(--background);
    font-size: 2.5em;

    transition-duration: .2s;

}

.addTask > .fa-plus:hover {
    color: #00FF8C;
}

.task {
    
    display: flex;
    flex-direction: row;
    width: 100%;

    overflow: hidden;
    
}

.task > .taskLabel {overflow: hidden;}

.task > .taskEdit {

    cursor: pointer;
    text-align: end;

    margin-left: auto;
    margin-right: 3px;

}

.taskEdit > .fa-pen-to-square {
    color: var(--text);
    transition-duration: .2s;
}

.taskEdit > .fa-pen-to-square:hover {
    color: var(--primary);
}

.cancelEdit {

    cursor: pointer;
    text-align: end;

    margin-left: auto;
    margin-right: 3px;
    margin-top: 2px;

}

.cancelEdit > .fa-circle-xmark {
    color: var(--text);
    transition-duration: .2s;
}

.cancelEdit > .fa-circle-xmark:hover {color: var(--primary)}

.taskLabel > .taskEditInput {

    cursor: text;
    
    background-color: transparent;
    border-color: var(--text);
    border: solid;
    border-width: 0 0 2px 0;

    color: var(--text);
    width: 80%;

}

.taskLabel > .taskEditInput:focus {

    outline: none;
    border-width: 2px 2px 2px 2px;
    border-radius: 3px 3px 0 0;

}