:root {

    --text: #08081a;
    --background: #f7f7fc;
    --primary: #504bc5;
    --secondary: #dd93c0;
    --accent: #d27384;

}

body {

    font-family: "Roboto", sans-serif;

    background-color: var(--background);
    color: var(--text);

}

#title {

    text-align: center;
    font-size: 3em;

    background: linear-gradient(to right, var(--primary) 0, var(--accent) 100%);
    background-size: 90% 90%;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.todoList {

    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    align-items:baseline;
    justify-content: center;

    margin-top: 5%;
    gap: 5%;

    height: max-content;
    
}

.todo-title {

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .5em;
    
    width: 15em;
    height: 5em;

    text-align: center;

    background-color: var(--primary);
    color: var(--background);

    overflow: hidden;

}

.todo-title h1 {
    margin-left: 20px;
}

.todo-tasks {

    display: flex;
    flex-direction: column;
    align-items: start;

    border-radius: .3em;

    font-size: 1.4em;

    margin-top: 5%;
    margin-bottom: 10%;

    padding: 7px;
    gap: 5px;

    background-color: var(--secondary);

}

.todo-tasks input {

    width: 1.5em;
    height: 1.5em;

}

.todo-tasks label, input {

    cursor: pointer;
    text-align: start;
    color: var(--text);

}

.addTask{

    cursor: pointer;
    text-align: end;

    margin-left: auto;
    margin-right: 20px;

}

.addTask > .fa-plus {

    color: var(--background);
    font-size: 2.5em;

    transition-duration: .3s;

}

.addTask > .fa-plus:hover {
    color: #00FF8C;
}